<div class='comments'>
  {{#each this}}
    <section class='post rounded'>
      <div class='post-content'>
        {{comment_text}}
      </div>
      <div class='post-author'>
        <p>Comment by
          <span class='post-username'>{{user.username}}</span>
          on
          {{format_date created_at}}
        </p>
      </div>
    </section>
  {{/each}}
</div>