<h2>Your Dashboard</h2>

<button class="btn btn-secondary new-post-button" type="submit"><a class="link link-light" href="/dashboard/new">+ New Post</a></button>

{{#if posts.length}}

    {{#each posts as |post|}}
    <article class="post">
        {{> post-info post}}
        <a class="d-flex justify-content-end mx-4 link-secondary" href='/dashboard/edit/{{id}}'>Edit post</a>
    </article>
    {{/each}}
{{/if}}
