<h2>Your Dashboard</h2>

<button type="submit"><a href="/dashboard/new">+ New Post</a></button>

{{#if posts.length}}
<section>
  <ul>
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}"> edit post</a>
    </li>
    {{/each}}
</section>
{{/if}}
