<section>
  <form class='edit-form'>
    <div>
      <label for='post-title' class='post-title'>Title</label>
      <input type='text' name='post-title' value='{{post.title}}' />
    </div>
    <div>
      <label for='post-text'>Content</label>
      <textarea
        type='text'
        name='post-text'
        rows='10'
        cols='20'
      >{{post.post_text}}</textarea>
    </div>
    <button type='submit' class='btn'>Update post</button>
    <button type='button' class='delete-post'>Delete this post</button>

  </form>
</section>

<script src='/javascript/edit-post.js'></script>
<script src='/javascript/delete-post.js'></script>