<h2 class='card-header mb-2'>Create New Post</h2>
<article class='card'>
  <form class='new-post-form p-4'>
    <div class='mb-3'>
      <label for='post-title form-label'>Title</label>
      <input
        class='form-control'
        type='text'
        id='post-title'
        name='post-title'
      />
    </div>
    <div class='mb-3'>
      <label for='post-text form-label' class='post-text'>Content</label>
      <textarea class='form-control' name='post-text' id='post-text'></textarea>
    </div>
    <button type='submit' class='btn btn-primary'>Post</button>
  </form>
</article>
<script src='/javascript/add-post.js'></script>