<!--Sign up form -->
<h2 class='pb-4'>Sign Up</h2>
<form class='signup-form'>
  <div class='mb-2'>
    <label class='form-label' for='username-signup'>username:</label>
    <input class='form-control' type='text' id='username-signup' />
  </div>
  <div class='mb-2'>
    <label class='form-label' for='email-signup'>email:</label>
    <input class='form-control' type='text' id='email-signup' />
  </div>
  <div class='mb-3'>
    <label class='form-label' for='password-signup'>password:</label>
    <input class='form-control' type='password' id='password-signup' />
  </div>
  <div>
    <button class='btn btn-primary' type='submit'>signup</button>
  </div>
</form>

<script src='/javascript/signup.js'></script>