<h2>Add comment</h2>

<section>
    {{> post-info post}}

    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea class="form-control"name="comment-body"></textarea>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Add comment</button>
        </div>
    </form>
    {{/if}}
</section>

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}