:root {
  --primary-color: black;
  --secondary-color: #b8cba2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  vertical-align: baseline;
}
main, html {
  background-color: var(--secondary-color);
}
main {
  padding: 2% 4%;
}
header {
  border-bottom: 1px solid;
  background-color: var(--primary-color);
}
.wrapper {
  max-width: 100%;
  margin: 10px;
}
.logo {
  color: var(--primary-color);
  margin: 10px;
  box-shadow: 5px 5px #888888;
  background-color: var(--secondary-color);
}
.logo:link {
  color: black;
  text-decoration: none;
}
.logo:hover {
  color: black;
  text-decoration: none;
  opacity: 0.7;
  transform: 0.5s ease-in-out;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 10px;
  font-size: 1.5em;
}
.navbar a {
  text-decoration: none;
  margin: 0 5px;
  color: var(--secondary-color);
}
.navbar a:hover {
  text-decoration: none;
  color: white;
}
.post {
  margin: 20px 0;
  border: 1px solid var(--primary-color);
}
.post-title {
  background-color: var(--primary-color);
  padding: 15px;
  margin-top: 0;
  text-align: left;
}
.post-title a {
  color: var(--secondary-color);
  text-decoration: none;
}
.post-title a:hover {
  text-decoration: none;
  color: white;
}
.post-content {
  padding: 10px !important;
  text-align: left !important;
}
.post-author {
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  font-style: italic;
}
.post-username {
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: var(--secondary-color);
}
a:link:visited {
  text-decoration: none;
  color: var(--secondary-color);
}
.new-post-button {
  margin: 20px 0;
}
